* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div.content {
  background: red;
  padding: 100px;
  width: 50%;
  margin: 50px auto 0 auto;
  height: 80vh;
  border-radius: 20px;
}
h2 {
  color: white;
  margin: 10px 0;
  text-align: center;
  font-size: 30px;
}
div.buttons {
  display: flex;
  background: none;
  justify-content: space-between;
  gap: 5px;
  width: auto;
}
div.buttons button {
  width: 50%;
  outline: 0;
  border: 0;
  padding: 9px 0;
}
